.lTable {
  width: 100%;
  border-collapse: collapse;
  margin:1em auto;
}

.lTable th {
  background: #eee;
  font-weight: bold;
}

.lTable td, table th {
  padding: 10px;
  text-align: left;
}

.lTable tr:nth-of-type(even) {
  background: #eee;
}

@media
only screen and (max-width: 760px),
(min-device-width: 560px) and (max-device-width: 1024px)  {

  .lTable {
    width: 100%;
  }

  .lTable, .lTable thead, .lTable tbody,.lTable th,.lTable td,.lTable tr {
    display: block;
  }

  .lTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .lTable td {
    border: none;
    position: relative;
    padding-left: 50%;
    word-break: break-all;
  }

  .lTable td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }

}
