table[data-spec="lTable"] {
  width: 100%;
  border-collapse: collapse;
  margin:1em auto;
}

table[data-spec="lTable"] th {
  background: #eee;
  font-weight: bold;
}

table[data-spec="lTable"] td, table th {
  padding: 10px;
  text-align: left;
}

table[data-spec="lTable"] tr:nth-of-type(even) {
  background: #eee;
}

@media
only screen and (max-width: 760px),
(min-device-width: 560px) and (max-device-width: 1024px)  {

  table[data-spec="lTable"] {
    width: 100%;
  }

  table[data-spec="lTable"], table[data-spec="lTable"] thead, table[data-spec="lTable"] tbody,table[data-spec="lTable"] th,table[data-spec="lTable"] td,table[data-spec="lTable"] tr {
    display: block;
  }

  table[data-spec="lTable"] thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table[data-spec="lTable"] td {
    border: none;
    position: relative;
    padding-left: 50%;
    word-break: break-all;
  }

  table[data-spec="lTable"] td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }

}
